*.sublime-syntax  linguist-language=yaml
*.YAML-tmLanguage linguist-language=yaml

*.sublime-build   linguist-language=json

*.tmLanguage      linguist-language=xml
*.tmPreferences   linguist-language=xml
